commands/__pycache__/**.pyc
events/__pycache__/**.pyc
__pycache__/**.pyc
tasks/__pycache__/**.pyc
core/__pycache__/**.pyc
data/**.json
.vscode/**.json
data/**.db
config.ini
data/*.db
data/*.db-journal
automod/__pycache__/**.pyc
levels/__pycache__/**.pyc
data/**.db
